// Put any @imports here
// See Readme for a list of supported ones

body {
  background: #e2ebf3;


  .phoneCircle {
    animation: grow 2s infinite;
    transform-origin: center;
  }


  @keyframes grow {
    0% {transform: scale(1);}
    50% {transform: scale(0.5);}
    100% {transform: scale(1);}
  }

  text {
    font-size: 60px;
    fill: #3e9fd8;
    stroke: #ffffff;
    stroke-width: 2;
    font-family: "Comic Sans MS";

  }

}
